<%- include('partials/header') %>
<div class="bg">
    <div class="box">
        <div class="logo">
            <img src="path/to/logo.png" alt="Company Logo">
        </div>

            <h2>Forgot Password?</h2>
            <form action="/forgot-password" method="POST">
                
                <input type="email" name="email" placeholder="Enter your company email" required>
                <button type="submit">Send Verification Code</button>
            </form>
        
         
              
            <!-- <h2>Verification Code:</h2>
           <p>We've send a verification code to your company mail, Enter the code to proceed to reseting your password.</p>
       <form action="/verify-password" method="post">
          <input type="hidden" name="email" value="<%= email %>">
           <input type="text" name="code" required>
           <button type="submit">Verify Code</button>
       </form><br> -->
       

        
            <!-- <h2>Reset Password?</h2>
            <form action="/reset-password" method="POST">
                <input type="email" name="email" value="<%= email %>" hidden>
                <input type="password" name="newPassword" placeholder="Enter your new password" required>
                <input type="password" name="newPassword" placeholder="Confirm your new password" required>
                <button type="submit">Reset Password</button>
            </form><br> -->
       
    </div>
</div>
<%- include('partials/footer') %>