<%- include('partials/header') %>



<!-- Hero-Page -->
 
<div class="container">
    <div class="overlay"></div>
    <div class="content">
        <h1>Bolcon Associates <br> Nigeria Limited</h1>
        <p>Project Dashboard and Documents Repository</p><br>
        <a href="/login" class="btn">Explore</a>
    </div>
</div>

<%- include('partials/footer') %>